body{
	background-color:#ededed;
}

.blogForm{
	padding:5px;
	margin-bottom:5px;
	background-color:#fff;
	border-radius:5px;
}

.loader{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	background:rgba(255,255,255,.7);
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

